{% load draw_menu_tag %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% draw_menu "" as data %}
    {% block menu %}
    <ul>
        {% for menu_item,value in data.items %}

        <li>
            {{ menu_item }}
            <ul>
                {% for sub_menu in value %}
                <li>{{ sub_menu.name }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
    {% draw_menu "Aday" as else_data %}
</body>

</html>